.card {
    background: #fff;
    border-radius: 25px;
    height: 150px;
    margin: 1em;
    position: relative;
    width: 150px;
    text-align: left;
    box-shadow: 0 3px 6px #000, 0 3px 6px #000;
}

.card > .img-container {
    height: 100%;
    text-align: center;
    background: white;
    border-radius: 25px;
    border: 2px solid #fff;
}

.card > .img-container > img {
    padding-top: 6px;
    width: 90%;
}

.card > .img-container:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px #000, 0 3px 6px #000;
}

.card > .content {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 15px;
}

.grow {
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
}

.grow:hover {
    transform: scale(1.1);
}
